In [4]:
import nltk, re, pprint
import pandas as pd
import numpy as np

In [11]:
#data = pd.read_csv(r"D:\ML\Datasets\tcc_ceds_music.csv")
data = pd.read_csv("D:\ML\Datasets\labeled_lyrics_cleaned.csv")

In [12]:
data.head()

,Unnamed: 0,artist,seq,song,label
0,0,Elijah Blake,"No, no\r\nI ain't ever trapped out the bando\r...",Everyday,0.626
1,1,Elijah Blake,"The drinks go down and smoke goes up, I feel m...",Live Till We Die,0.630
2,2,Elijah Blake,She don't live on planet Earth no more\r\nShe ...,The Otherside,0.240
3,3,Elijah Blake,"Trippin' off that Grigio, mobbin', lights low\...",Pinot,0.536
4,4,Elijah Blake,"I see a midnight panther, so gallant and so br...",Shadows & Diamonds,0.371

In [13]:
data.drop(labels="Unnamed: 0", axis=1, inplace=True)
data.rename(columns={"seq": "lyrics", "label": "valency"}, inplace=True)

#data = data.drop_duplicates(subset=['lyrics', 'song'])
data.sort_values(by=['song', 'valency'], ascending=False, inplace=True) # to keep highest value valency 
data = data.drop_duplicates(subset='lyrics')
pd.set_option('display.float_format', lambda x: '%.2f' % x) # round everything to 2 decimal places
data = data.reset_index() 
data

,index,artist,lyrics,song,valency
0,54911,Simon & Milo,"Hello, this is Stacy, the computer\nGood morni...",www.nevergetoveryou,0.68
1,82479,Hippo Campus,See how the western kids\r\nHave silicon insid...,western kids,0.52
2,82478,Hippo Campus,"Wisconsin pines, collaborating with the day gl...",way it goes,0.52
3,82477,Hippo Campus,"I see meaning where you don't, where you don't...",vines,0.66
4,82476,Hippo Campus,My thoughts are a battlefield of sub-surreal a...,vacation,0.55
...,...,...,...,...,...
135986,109667,The Beach Boys,"Hi, this is Al this scene takes place at a typ...","""Cassius"" Love Vs. ""Sonny"" Wilson",0.49
135987,55096,Simple Minds,"Cry cry cry\r\nCry like a baby\r\n""see"" Moon ""...","""C"" Moon Cry Like a Baby",0.77
135988,41838,The Blues Brothers,Caught a ride into South Dakota\r\nWith two gi...,"""B"" Movie Box Car Blues",0.50
135989,81217,The Gaslight Anthem,Have you seen my hands?\nJust look at 'em shak...,"""45""",0.42
135990,38621,U2,I waited patiently for the Lord\nHe inclined a...,"""40""",0.32

In [15]:
from nltk import tokenize
from nltk.corpus import brown, stopwords
from nltk.stem import WordNetLemmatizer

In [26]:
data['lyrics']

0         Hello, this is Stacy, the computer\nGood morni...
1         See how the western kids\r\nHave silicon insid...
2         Wisconsin pines, collaborating with the day gl...
3         I see meaning where you don't, where you don't...
4         My thoughts are a battlefield of sub-surreal a...
                                ...
135986    Hi, this is Al this scene takes place at a typ...
135987    Cry cry cry\r\nCry like a baby\r\n"see" Moon "...
135988    Caught a ride into South Dakota\r\nWith two gi...
135989    Have you seen my hands?\nJust look at 'em shak...
135990    I waited patiently for the Lord\nHe inclined a...
Name: lyrics, Length: 135991, dtype: object